.homePage {
  position: relative;
  background-image: url('./images/top-view-of-desert-2265082.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #ffffff;
  background-position: center center;
  overflow-x: hidden;
  background-attachment: fixed;
  /* background-color: linear-gradient(rgba(0, 0, 0, 0.7)); */
}

.homePage::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.homePage *,
.skillset * {
  z-index: 1;
}

.homePage .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.homePage .icons img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-top: 50px;
  box-shadow: 10px 20px 10px 10px rgba(0, 0, 0, 0.9);
}

.homePage .icons p {
  margin: 10px;
  padding: 30px;
  line-height: 2em;
  font-size: 24px;
  animation: pageLoad ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.buttons {
  margin-top: 40px;
}
.homePage .icons a {
  border-radius: 5px;
  text-decoration: none;
  padding: 10px !important;
  border: 1px solid #db7806da !important ;
  font-weight: bold;
  transition: 0.5s;
  color: white;
  margin: 10px;
}
.homePage .icons a:hover {
  background-color: #db7806da !important;
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  border-bottom: 3px solid #db7806da !important ;
}

.services .narrow .heading {
  font-size: 40px !important;
}

.services .narrow hr {
  width: 20%;
  margin: 10px auto 30px auto;
  border: 2px solid #db7806da;

  border-radius: 25px;
}

.services .service {
  padding: 20px;
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.8);
}

.services .service h3 {
  padding: 10px;
  font-weight: bolder;
}

.services .row {
  animation: pageLoad ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.services .service .lead {
  line-height: 2.5rem;
}

.resume {
  z-index: 2;
}

.resume > h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}

.resume hr {
  width: 25%;
  margin: 10px auto 30px auto;
  border: 2px solid #db7806da;
  border-radius: 25px;
}

.resume .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.resume .card-container .cards {
  height: 400px;
  margin: 10px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
}

.resume .card-container .cards .card-front {
  padding: 20px;
  text-align: center;
}
.resume .card-container .cards .card-front h2 {
  font-weight: bolder;
  font-size: 30px;
  padding: 5px;
}

.resume .card-container .cards .card-front span {
  font-weight: bold;
}

.resume .card-container .cards .card-back {
  display: none;
  padding: 10px;
  line-height: 1.5rem;
  font-size: 16px;
  transition: display 0.5s;
}

.resume .card-container .cards .card-back li {
  margin: 10px;
}

.resume .card-container .cards:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #db7806da;
}

.resume .card-container .cards:hover .card-front {
  display: none;
}
.resume .card-container .cards:hover .card-back {
  display: block;
}

#skillset {
  background-image: url('./images/man-in-black-shirt-sits-behind-desk-with-computers-2102416\ \(1\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  min-height: 600px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skillset::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#skillset * {
  z-index: 1;
}

.skillset hr {
  width: 20%;
  margin: 10px auto 30px auto;
  border: 2px solid #db7806da;
  opacity: 1;
  border-radius: 25px;
}

.skillset img {
  height: 150px;
  width: 150px;
  margin: 30px;
  text-align: center;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .homePage .icons img {
    height: 200px;
    width: 200px;
  }

  .services .narrow hr {
    width: 60%;
  }

  .resume .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 750px) {
  .homePage {
    position: relative;
  }
  .homePage .icons {
    position: absolute;
    top: 25%;
    margin: 20px;
  }
}

@keyframes pageLoad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
